@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.playfair {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* Your global resets and site variables */
/* :root {
  --bg: #ffffff;
  --fg: #0f1a;
}

.dark {
  --bg: #1220;
  --fg: #e6eef8;
}


html, body, #root {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
