@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Your global resets and site variables */
/* :root {
  --bg: #ffffff;
  --fg: #0f1a;
}

.dark {
  --bg: #1220;
  --fg: #e6eef8;
}


html, body, #root {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
